*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Fira Sans";
    height: 100vh;
}

.slider-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide{
    height: 100vh;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.left-slide div button {
    margin-top: 2vh;
}

.left-slide h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide div{
    background-repeat: no-repeat;
    -o-background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 2;
}

.slider-container .action-buttons .down-button{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button::before {
    transform: scaleY(0);
    transform-origin: bottom right;
}

button:hover::before {
    transform: scaleY(1);
    transform-origin: bottom left;
}

button::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #f39200;
    z-index: -1;
    transition: transform .3s ease;
}

button {
    position: relative;
    font-size: 2vh;
}

button{
    background-color: white;
    border: none;
    padding: 15px;

}

button a {
    text-decoration: none;
    color: black;
}


.left-slide div button {
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f39200;
}

h1 {
    font-family: "Futura XBlk BT";
}

@media (max-width: 1200px) {

    .right-slide{
        width: 50%;
        height: 100%;
        left: 50%;
    }

    .right-slide div{
        background-position: 75% 50%;
    }

    .left-slide{
        width: 50%;
    }

    .left-slide div h1,
    .left-slide div p {
        display: flex;
        margin-left: 10px;
    }

    .left-slide div button{
        margin-top: 170px;
    }

    .left-slide div{
        background-position: 50% 100%;
    }

    .slider-container .action-buttons button{
        left: 50%;
    }

}